<h1><%= @list.name %></h1>
<% @list.bookmarks.each do |bookmark| %>
  <h2><%= bookmark.movie[:title] %></h2>
  <p><%= bookmark.comment %></p>
  <div> <img src=<% bookmark.movie[:poster_url] %> alt="Movie pic"> </div>
   <% raise %>
  <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
<%  end  %>
<%= link_to "Create new bookmark", new_list_bookmark_path(@list) %>
<%= link_to "Back", lists_path %>
 <%# <%= image_tag("bookmark.movie[:poster_url]") %>
